@model Tp02SisWeb2.Models.Container

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Details</h2>

<div>
    <h4>Container</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numContainer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.numContainer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tamanho)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tamanho)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BL.IdBl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdContainer">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
